body .el-pagination{
  background:none;
}
.pagination-fore-end .el-pager li.active{
  border: 1px solid #000;
  background-color: #000!important;
  color: #fff!important;
}
.pagination-fore-end .el-pager li,
.pagination-fore-end .el-pager li.active+li,
.pagination-fore-end .el-pager li:last-child,
.pagination-fore-end .el-pagination .btn-next,
.pagination-fore-end .el-pagination .btn-prev,
.pagination-fore-end .el-pager li:hover{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border: 1px solid #000;
  background-color: #fff;
  margin-right: 8px;
  border: 1px solid #000;
  font-size: 14px;
  width: 28px;
  height: 28px;
  color: #000;
}

.pagination-fore-end .el-pagination .btn-next,{
  color: #000;
}
.pagination-fore-end .el-pagination button,.pagination-fore-end .el-pagination span{
  font-size: 14px;
}
.pagination-fore-end .el-pagination__jump{
  float: right;
}

/*复选框*/
.pagination-fore-end .el-checkbox__inner.is-checked{
  background-color: #eb2332;
  border-radius: 0;
  border-color: #eb2332;

}
.pagination-fore-end .el-checkbox__inner{
  border-radius: 0;
  border-color:#000 ;
}

.pagination-fore-end .el-checkbox__inner:not(.is-disabled):hover,.pagination-fore-end .el-checkbox__inner.is-focus{
  border-color: #eb2332;
}

/*个人中心分页*/
.personal .el-pagination{
    display: inline-block;
    margin: auto;

}
.personal .el-pagination .btn-next,
.personal .el-pagination .btn-prev,
.personal .el-pager li:last-child,
.personal .el-pager li{
    width: 30px;
    height: 30px;
    background:#eeeeee;
    border: 0;
    margin-right: 10px;
    line-height: 30px;
}
.personal .el-pager li.active{
    border: none;
    background:#00adff;
    color: #fff!important;
}
.personal .el-pager li.btn-quicknext,.personal .el-pager li.btn-quickprev{
    line-height: 30px;
}
.personal .el-pagination__jump{
    /*display: none;*/
}
/*.personal .el-pagination .btn-next,*/
/*.personal .el-pagination .btn-prev{*/
    /*border: 0;*/
/*}*/

/*加载动画*/
.el-loading-yun{
    margin-top: 100px;
    position: fixed!important;
    width: 100%;
}
.loading-wrap{
    height:200px;
    position: fixed;
    width: 100%;
}
.el-loading-yun .el-loading-bubble{
    background-color: #272335;
}
body .el-button{
    border-radius: 0;
    padding: 0;
}
body .el-dialog{
    width: auto;
}