/*placeholder样式*/
input::-webkit-input-placeholder { color:#999;font-size: 12px; }
input ::-moz-placeholder { color:#999;font-size: 12px; } /* firefox 19+ */
input:-ms-input-placeholder { color:#999;font-size: 12px; } /* ie */
input:-moz-placeholder { color:#999;font-size: 12px; }

.icon-warning{/*警告-小*/
    width: 12px;
    height: 12px;
    background-position: -624px -24px;
}
.loginreg-box{
    width: 360px;
    padding: 30px 48px;
    background: #fff;
    position: absolute;
    top: 120px;
    left: 50%;
    margin-left: -228px;
    z-index: 10;
}
.loginreg-box h2{
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}
.logregwrap{
    width: 358px;
    height: 48px;
    margin-bottom: 30px;
    background: #f2f2f2;
    border: 1px solid #f2f2f2;
    position: relative;
}
.logreginput{
    width: 318px;
    height: 22px;
    line-height: 22px;
    padding: 13px 20px;
    font-size: 18px;
    background: none;
}
.logregwrap .icons{
    display: inline-block;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}
.icon-passwordshow{
    background-position: -15px -15px;
}
.icon-passwordhide{
    background-position: -15px -75px;
}
.rememberbox{margin-bottom: 20px;}
.remember .checkbox{
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    margin-right: 10px;
    background: url("/static/images/logreg/icon-checkbox.png") no-repeat center;
}
.remember .checkbox.selected{
    background: url("/static/images/logreg/icon-checkbox.png") no-repeat center;
}
.remember p{
    color: #666;
}
.logreg-btn{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    background:#00adff;
    margin: 10px 0;
    cursor: pointer;
}
.logreg-btn:hover{
    background: #018acb;
}
.hreftext{margin-top: 20px}
.hreftext a:hover{
    color: #000;
}

.log-thirdparty{
    margin-top: 50px;
}
.log-thirdparty .title{
    margin-bottom: 40px;
    position: relative;
}
.log-thirdparty .title .line{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #eee;
}
.log-thirdparty .title h5{
    display: inline-block;
    width: 200px;
    height: 20px;
    line-height: 20px;
    background: #fff;
    text-align: center;
    position: absolute;
    left: 80px;
    top: -10px;
}
.thirdparty li{
    float: left;
    width: 60px;
    height: 60px;
    margin-right: 90px;
}
.thirdparty li:last-child{
    margin-right: 0;
}
.thirdparty li>a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.thirdparty .wechat{
    background: url("/static/images/logreg/img-wechat.png") no-repeat;
}
.thirdparty .sina{
    background: url("/static/images/logreg/img-sina.png") no-repeat;
}
.thirdparty .qq{
    background: url("/static/images/logreg/img-qq.png") no-repeat;
}

.regbox .logregwrap .text{
    display: inline-block;
    width: 70px;
    height: 50px;
    line-height: 48px;
    padding-left: 20px;
    text-align: left;
    position: absolute;
    left: 0;
    top: 0;
}
.regbox .logreginput{
    width: 230px;
    margin-left: 70px;
}
.sendcode{
    display: block;
    width: 110px;
    height: 50px;
    line-height: 48px;
    text-align: center;
    background:#00adff;
    color: #fff;
    position: absolute;
    right: 0;
    top: -1px;
}

.repasswordbox .inputbox{margin-bottom: 35px;}
.repasswordbox .back{
    display: block;
    width: 100px;
    height: 20px;
    line-height: 20px;
    margin: 20px auto 0;
    text-align: center;
}
.repasswordbox .back:hover{
    color: #000;
}
.repasswordbox .icon-arrowleft{
    width: 8px;
    height: 8px;
    margin-right: 5px;
    border-color: #000;
}

.logregwrap .warning{
    width: 360px;
    height: 24px;
    line-height: 24px;
    background: #ff0000;
    font-size: 12px;
    color: #fff;
    text-indent: 36px;
    position: relative;
    top: -2px;
    left: -1px;
}
.logregwrap.war{
    border-color: #ff0000;
}
.logregwrap .warning .icon-warning{
    display: block;
    position: absolute;
    top: 6px;
    left: 20px;
}