body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,label,p,blockquote,table,th,td { margin:0; padding:0;}

body { background:#f4f4f4; color:#000; font-size:14px;position: relative;width: 100%;height: 100%; font-family: "PingFangHK-Thin", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;}
table { border-collapse:collapse; }
td,th,caption { font-size:14px; }
h1, h2, h3, h4, h5, h6 { font-weight:normal; font-size:100%; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal;}
a { color:#666; text-decoration:none;display: inline-block;}
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font-size:14px; outline: none;border: none;display: inline-block;font-family: "PingFangHK-Thin", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif!important;}
a,button{
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    cursor: pointer;
}
.fl{float: left;}
.fr{float: right;}

.hide{display: none;}
.clearfix:after {content: " "; display: block; height:0; clear:both; visibility: hidden;}
.clearfix { *zoom:1; }
.w1200{width: 1200px;margin: auto}
.mt20{margin-top: 20px}
.mb20{margin-bottom: 20px}
.mt30{margin-top: 30px}
.ml15{margin-left: 15px}
.ml20{margin-left: 20px}
.red{color:#e92332;}
.text-center{text-align: center}
.icons{
    display: inline-block;
    background: url("/static/images/yun.png") no-repeat;
}
/*满屏黑色遮罩*/
.mask-bg{
    background: rgba(0,0,0,.75);
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top:0;
    z-index: 1;
}

.icon-arrowleft{/*箭头向左*/
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    /*需要自定义width、height、border-color*/
}
.icon-arrowleft.black{
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}
.icon-arrowleft.white{
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}
.icon-arrowright{/*箭头向右*/
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
}
.icon-arrowright.black{
    border-left: 1px solid #000;
    border-top: 1px solid #000;
}
.icon-arrowright.white{
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}
.icon-arrowtop{/*箭头向上*/
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}
.icon-arrowbottom{/*箭头向下*/
    display: inline-block;
    width: 10px;
    height: 10px;
    border-left: 1px solid #000;
    border-top: 1px solid #000;
    transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
}
/*实心三角*/
.icon-triangedown{/*向下*/
    display: block;
    width: 0px;
    height: 0px;
    border: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000;
    position: absolute;
    transition: all linear .2s;
}
.icon-triangeup{/*向上*/
    display: block;
    width: 0px;
    height: 0px;
    border: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 7px solid #000;
    position: absolute;
    transition: all linear .2s;
}
.triange-bg{
    border-left-width: 10px;
    border-right-width: 10px;
    border-top-width: 10px;
    border-bottom-width: 10px;
}

/*用来覆盖el插件样式*/
body .el-icon-caret-top:before{content: '';}
body .el-select-dropdown{
    border-radius: 0;
    box-shadow: none;
    border: none;
}
body .el-input__icon{

    color: #000;font-size: 0;line-height: 16px;
    display: block;
    width: 0px;
    height: 0px;
    border: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #000;
    position: absolute;
    transition: all linear .2s;
}
body .el-select .el-input .el-input__icon{
    color: #000;
    font-size: 0;
}
body .el-input__inner{border: 0;}
body .el-select-dropdown__list{padding: 0;}
body .el-select-dropdown__item{color: #000;}
body .el-select,
body .el-input,
body .el-input__inner{
    width: 100%;
    height: 100%;
    border-radius: 0;
    background: none;
}
body  .el-select-dropdown__item.selected.hover,
body  .el-select-dropdown__item.selected{background: #000;}
body  .el-select-dropdown__item.hover{background: #eee;}
body .el-select .el-input .el-input__icon{
    -webkit-transform: translateY(-50%) rotateZ(0deg);
    transform: translateY(-50%) rotateZ(0deg);
}
body .el-select .el-input .el-input__icon.is-reverse{
    -webkit-transform: translateY(-50%) rotateZ(180deg);
    transform: translateY(-50%) rotateZ(180deg);
}
.nav-location .el-select .el-input .el-input__icon{
    color: #fff;
    font-size: 12px;
    right: 20px;
    border-top-color: #fff;
}
.nav-location .el-input__inner{color: #fff;}


.el-input input::-webkit-input-placeholder { color:#999;}
.el-input input::-moz-placeholder { color:#999;} /* firefox 19+ */
.el-input input:-ms-input-placeholder { color:#999;} /* ie */
.el-input input:-moz-placeholder { color:#999;}